name: CI/CD ESP-IDF Build

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
      
      - name: Install ESP-IDF
        uses: espressif/install-esp-idf-action@v1
        with:
          version: v6.0

      - name: Build ESP-IDF project
        run: |
          idf.py fullclean build

      - name: Verify firmware build output
        run: |
          ls -lh build/
          test -f build/firmware-idf.bin

      - name: Upload firmware to Linode Object Storage
        uses: jakejarvis/s3-sync-action@v0.3.0
        env:
          AWS_S3_BUCKET: ${{ secrets.LINODE_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.LINODE_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.LINODE_SECRET_KEY }}
          AWS_S3_ENDPOINT: https://in-maa-1.linodeobjects.com
          AWS_REGION: us-east-1
          SOURCE_DIR: build/
          DEST_DIR: firmware/
